@import "variables.scss", "home.scss";
@import "components/filter.scss", "components/card.scss";

body {
  margin: 0 10% 0 10%;
  font-family: "Lato", sans-serif;
}

.container_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_space {
  display: flex;
  justify-content: space-between;
}
